body{
  background: #333;
  color: #fff;
}
.navbar{
  border-bottom: #008ed6 3px solid;
  opacity: 0.8;
}

#home-section{
  background: url(../img/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 700px;
}
#home-section .dark-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
}
#home-section .home-inner{
  padding-top: 150px;
}
#home-section .card-form{
  opacity: 0.8;
}
#home-section .fas, #create-section .fas {
  color: #0083d6;
  background: #fff;
  padding: 5px;
  border-radius: 5px;
}
#explore-section .fas, #share-section .fas{
  background: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
